# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
.toast/
.venv/
poetry.lock
pipfile.lock

# Node files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next/
out/
.docusaurus/
.turbo

# Spark / Java / Hadoop
*.class
*.jar
*.war
*.ear
.spark-checkpoints/
checkpoints/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/
**/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dbt artifacts and databases
**/target/
**/dbt_modules/
**/dbt_packages/
*.duckdb

# Virtual environments
dbt_venv/
.venv/
venv/
env/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

